.body,.header{
    background-color: gray;
}
.header{
    width: 100%;
    height: 200px;
    }
/*.logo{
    float: right;
}*/
.main{
    background-color: darkgray;
    width: 100%;
    height: 2000px;
}
.menu{
    width: 100%;
    height: 100px;
    border-bottom: solid 2px gray;
}
.flex_menu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.tab{
    border-radius: 7px;
    border: solid 2px gray;
    background-color: darkgray;
    margin: 70px;
}
.photo{
    width: 30%;
    float: left;
    margin: 20px;
   /* background-size: contain;*/

}
.fio{
    float: right;
    width: 65%;
    color: darkslategrey;
}
.b{
    text-align: center;
}
.info{
    float: left;
    width: 28%;
    text-align: center;
    margin: 20px;
}
.feedback{
    float: right;
    width: 28%;
    text-align: center;
    margin: 20px;
}
.b{

}
.flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    float: left;
    margin: 12px;
}
.f{
    margin: 5px;
    width: 250px;

}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    float: left;
    grid-column-gap: 20px;
}
.g{
    margin: 20px;
    text-align: center;
}
.img{
    width: 250px;
    height: 150px;
}
@media screen and (max-width: 500px){
    .flex_menu{
        flex-direction: column;
        justify-content: center;
    }
    .header{
        height: 400px;
    }
    .photo{
        width: 100%;
        float: none;
        margin: auto;
    }
    .fio{
        float: none;
        width: 100%;
    }
    .info{
        float: none;
        width: 100%;
        margin:auto;
        margin-bottom: 20px;
    }
    .feedback{
        float: none;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .flex{
        margin: 1px;
    }
    .f{
        text-align: center;
    }
    .grid{
        grid-template-columns: 1fr;

    }
    .g{
        margin: 1px;

    }
    .img{
        width: 250px;
        height: 150px;
    }
    .main{
        height: 3000px;
    }
}
@media screen and (min-width: 501px) and (max-width: 900px){
    .photo{
        width: 45%;
    }
    .fio{
        width: 45%;
    }
    .info{
        width: 45%;
        margin:auto;
    }
    .feedback{
        width: 100%;
        margin: auto;
    }
    .f{
        width: 200px;
    }
    .img{
        width: 200px;
        height: 120px;
    }
    .main{
        height: 1800px;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column-gap: 20px;
    }
}
.footer{
    width: 100%;
    height: 50px;
    background-color: gray;
}
.copy{
    float: right;
    margin: 10px;
}
.img_inst{
    float: right;
}
.img_vk{
    float: right;
    margin: 2px;
}
.z2{
    width: 100%;
    float: right;
}
